body {
  // background-color: ;
  // color: ;
  // font-family: ;
  // letter-spacing: ;
}

.container {
  // padding-left: 31px;
  // padding-right: 31px;
  // margin: 0 auto;

  // @media screen and (max-width: ($tablet - 1px)) {
  //   width: $mobile;
  // }

  // @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
  //   width: $tablet;
  //   padding-left: 39px;
  //   padding-right: 39px;
  // }

  // @media screen and (min-width: $desktop) {
  //   width: $desktop;
  //   padding-left: 59px;
  //   padding-right: 59px;
  // }
}

.section {
  // padding-top: 84px;
  // padding-bottom: 84px;

  // @media screen and (max-width: ($tablet - 1px)) {
  //   margin: 0 auto;
  //   width: $mobile;
  // }

  // @media screen and (min-width: $tablet) {
  //   padding-top: 100px;
  //   padding-bottom: 100px;
  // }

  // @media screen and (min-width: $desktop) {
  //   padding-top: 130px;
  //   padding-bottom: 130px;
  // }
}
