/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './utils/vars';
@import './utils/mixins';
@import './utils/reset';
@import './utils/breakpoints';
@import './utils/vh';
@import './base/common';
@import './components/header';
@import './components/hero';
@import './components/products';
@import './components/about';
@import './components/advantages';
@import './components/gallery';
@import './components/customer-reviews';
@import './components/contacts';
@import './components/footer';
@import './components/menu';
@import './components/modal';
@import './components/buy-modal';
@import './components/franchise-modal';
