@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  background-color: #e5e5e5;
  color: #907e82;
  font-family: "DM Sans", sans-serif;
}

body.buy-modal-open,
.franchise-modal-open,
.locations-modal-open {
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  min-width: 320px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 34px;
    padding-right: 34px;
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 115px;
    padding-right: 115px;
    width: 1280px;
  }
}

.header {
  position: absolute;
  width: 100%;
  background-color: transparent;
  padding-top: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 37px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding-top: 37px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    padding-left: 46px;
  }
}

.logo {
  width: 199px;
  height: 50px;
}

.menu-open {
  width: 20px;
  height: 12px;
  cursor: pointer;
  top: 25px;
  right: 20px;
  display: block;
  margin: 0;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 1280px) {
  .menu-open {
    display: none;
  }
}

.open-menu_icon {
  width: 20px;
  height: 12px;
  fill: #d41443;
}

.header-btn {
  width: 160px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  outline: none;
  color: #d41443;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 767px) {
  .header-btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-btn {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .header-btn {
    margin-left: 0px;
  }
}

.header-btn:hover, .header-btn:focus {
  background-color: #ecebeb;
}

.header-btn__icon {
  fill: #d41443;
  width: 8px;
  height: 8px;
  margin-left: 12px;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1279px) {
  .header-nav__list {
    display: none;
  }
}

.header-nav__item:not(:first-child) {
  margin-left: 35px;
}

.header-nav__link {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  letter-spacing: 0.04em;
}

.header-nav__link:hover, .header-nav__link:focus {
  color: #d41443;
}

.hero {
  background-color: #ffb8ca;
  padding-top: 193px;
  padding-bottom: 160px;
}

.hero__tittle {
  font-family: "Titan One", cursive;
  font-size: 38px;
  line-height: 1.15789;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-transform: uppercase;
}

.hero__tittle--red {
  color: #d41443;
  font-size: 58px;
  line-height: 0.905;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.product {
  background-color: #ffffff;
  padding-top: 121px;
  padding-bottom: 98px;
}

@media screen and (min-width: 767px) {
  .product {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1280px) {
  .product {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.product__title {
  margin-bottom: 15px;
  font-family: "Titan One", cursive;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .product__title {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .product__title {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.product__heading {
  margin-bottom: 144px;
  font-family: "Titan One", cursive;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .product__heading {
    margin-bottom: 150px;
    font-size: 48px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .product__heading {
    margin-bottom: 259px;
    font-size: 58px;
  }
}

@media screen and (min-width: 768px) {
  .product__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -10px;
  }
}

@media screen and (min-width: 1280px) {
  .product__list {
    margin: -12px;
  }
}

.product-card {
  position: relative;
  padding-top: 160px;
  padding-bottom: 41px;
  border-radius: 24px;
}

@media screen and (max-width: 767px) {
  .product-card:not(:last-child) {
    margin-bottom: 130px;
  }
}

@media screen and (min-width: 768px) {
  .product-card {
    padding-top: 152px;
    padding-bottom: 40px;
    margin: 10px;
    -ms-flex-preferred-size: calc((100% - 3 * 20px) / 3);
        flex-basis: calc((100% - 3 * 20px) / 3);
  }
}

@media screen and (min-width: 1280px) {
  .product-card {
    padding-top: 163px;
    padding-bottom: 50px;
    margin: 12px;
    -ms-flex-preferred-size: calc((100% - 3 * 24px) / 3);
        flex-basis: calc((100% - 3 * 24px) / 3);
  }
}

.product-card__heading {
  font-family: "Titan One", cursive;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.product-card__heading::after {
  display: block;
  margin: 30px auto;
  content: '';
  width: 26px;
  height: 6px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/dots.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-card__heading::after {
    background-image: url(../images/dots@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .product-card {
    font-size: 30px;
    line-height: 1.13;
  }
}

.product-card::before {
  position: absolute;
  top: -113px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  content: '';
  width: 249px;
  height: 252px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.product-card__front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-card__front.flipped {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.product-card__back {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
  top: 160px;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 24px;
}

@media screen and (min-width: 1280px) {
  .product-card__back {
    padding-bottom: 50px;
  }
}

.product-card__back.flipped {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.product-card__back.coffee {
  background-color: #f0d1a5;
}

.product-card__back.milkshake {
  background-color: #c2e297;
}

.product-card__back.cream {
  background-color: #ffb8ca;
}

.product-card--cream {
  background-color: #ffb8ca;
}

.product-card--cream::before {
  background-image: url(../images/mobile/products-icecream-mobile.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-card--cream::before {
    background-image: url(../images/mobile/products-icecream-mobile@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .product-card--cream::before {
    width: 220px;
    height: 233px;
    background-image: url(../images/tablet/products-icecream-tablet.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .product-card--cream::before {
    background-image: url(../images/tablet/products-icecream-tablet@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .product-card--cream::before {
    top: -210px;
    width: 335px;
    height: 335px;
    background-image: url(../images/desktop/products-icecream-desktop.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .product-card--cream::before {
    background-image: url(../images/desktop/products-icecream-desktop@2x.png);
  }
}

.product-card--coffee {
  background-color: #f0d1a5;
}

.product-card--coffee::before {
  background-image: url(../images/mobile/products-icecoffee-mobile.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-card--coffee::before {
    background-image: url(../images/mobile/products-icecoffee-mobile@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .product-card--coffee::before {
    width: 220px;
    height: 233px;
    background-image: url(../images/tablet/products-icecoffee-tablet.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .product-card--coffee::before {
    background-image: url(../images/tablet/products-icecoffee-tablet@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .product-card--coffee::before {
    top: -210px;
    width: 335px;
    height: 335px;
    background-image: url(../images/desktop/products-icecoffee-desktop.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .product-card--coffee::before {
    background-image: url(../images/desktop/products-icecoffee-desktop@2x.png);
  }
}

.product-card--milkshakes {
  background-color: #c2e297;
}

.product-card--milkshakes::before {
  background-image: url(../images/mobile/products-milkshake-mobile.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-card--milkshakes::before {
    background-image: url(../images/mobile/products-milkshake-mobile@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .product-card--milkshakes::before {
    width: 220px;
    height: 233px;
    background-image: url(../images/tablet/products-milkshake-tablet.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .product-card--milkshakes::before {
    background-image: url(../images/tablet/products-milkshake-tablet@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .product-card--milkshakes::before {
    top: -210px;
    width: 335px;
    height: 335px;
    background-image: url(../images/desktop/products-milkshake-desktop.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .product-card--milkshakes::before {
    background-image: url(../images/desktop/products-milkshake-desktop@2x.png);
  }
}

.product-card__text {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .product-card__text {
    width: 198px;
    margin-bottom: 40px;
    line-height: 1.78;
  }
}

@media screen and (min-width: 1280px) {
  .product-card__text {
    width: 241px;
    margin-bottom: 62px;
    font-size: 16px;
    line-height: 1.75;
  }
}

.product-card__btn {
  display: block;
  border: none;
  margin: 0 auto;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.btn__icon {
  display: block;
  margin: auto;
  width: 15px;
  height: 15px;
  fill: #d41443;
}

.about {
  padding-top: 125px;
  background-color: #fff5f6;
  background-image: url(../images/mobile/about-bg-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 766px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/mobile/about-bg-mobile@2x.png);
  }
}

@media (min-width: 768px) {
  .about {
    background-image: none;
    padding-top: 130px;
  }
}

@media (min-width: 1280px) {
  .about {
    background-image: url(../images/desktop/about-bg-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 342px;
  }
}

@media (min-width: 1280px) and (min-device-pixel-ratio: 2), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi), (min-width: 1280px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/desktop/about-bg-desktop@2x.png);
  }
}

.about__title-label {
  margin-bottom: 15px;
  font-family: "Titan One", cursive;
  font-size: 18px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffa5ba;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .about__title-label {
    margin-bottom: 16px;
    font-size: 26px;
  }
}

@media (min-width: 1280px) {
  .about__title-label {
    font-size: 30px;
  }
}

.about__title {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 26px;
  font-family: "Titan One", cursive;
  font-size: 34px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
}

@media (min-width: 768px) {
  .about__title {
    width: auto;
    margin-bottom: 50px;
    font-size: 48px;
  }
}

@media (min-width: 1280px) {
  .about__title {
    margin-bottom: 55px;
    font-size: 58px;
    letter-spacing: 0.06em;
  }
}

.about__box {
  padding-bottom: 39px;
}

@media (min-width: 768px) {
  .about__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 2px;
    margin-left: 5px;
    padding-bottom: 66px;
  }
}

@media (min-width: 1280px) {
  .about__box {
    padding-bottom: 39px;
  }
}

.about__cow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 46px;
}

@media (min-width: 768px) {
  .about__cow-container {
    margin-right: 17px;
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
  .about__cow-container {
    margin-right: 74px;
  }
}

.about__text-container {
  margin: 0 auto;
  width: 220px;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0em;
  color: #907e82;
}

@media (min-width: 768px) {
  .about__text-container {
    margin: 0;
    width: 340px;
    font-size: 14px;
    line-height: 1.76;
    font-weight: 500;
    letter-spacing: 0em;
    padding-top: 50px;
  }
}

@media (min-width: 1280px) {
  .about__text-container {
    width: 463px;
    line-height: 1.94;
    letter-spacing: 0.04em;
    padding-top: 51px;
  }
}

.about__main-text {
  color: #000000;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .about__main-text {
    margin-bottom: 26px;
  }
}

@media (min-width: 1280px) {
  .about__main-text {
    font-size: 16px;
    line-height: 1.76;
  }
}

.about__text {
  margin-bottom: 10px;
}

@media (min-width: 1280px) {
  .about__text {
    margin-bottom: 26px;
  }
}

.about__button {
  height: 44px;
  margin-top: 17px;
  padding-right: 37px;
  padding-left: 37px;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  color: #d41443;
  background-color: #ffffff;
  border-style: none;
  border-radius: 22px;
  cursor: pointer;
  -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about__button:hover, .about__button:focus {
  background-color: #ecebeb;
}

@media (min-width: 768px) {
  .about__button {
    margin-top: 62px;
  }
}

@media (min-width: 1280px) {
  .about__button {
    margin-top: 45px;
  }
}

.about__button-icon {
  margin-left: 14px;
}

.customer-reviews {
  padding-top: 125px;
  margin-bottom: 20px;
  background-position: 0 766px;
}

.customer-reviews .container {
  padding-left: 50px;
  padding-right: 50px;
}

.slider {
  width: 40rem;
}

.slide img {
  position: relative;
  display: block;
  min-width: 120px;
  max-width: 100%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 85px;
  height: 85px;
}

.slide-text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 30.6px;
  text-align: center;
  color: #000000;
}

.slide-ellipse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}

.slick-dots li {
  margin: 0 0.25rem;
}

.slick-dots button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #d9d9d9;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-image: url(/images/home.png);
  background-repeat: no-repeat;
  border-radius: 0px;
}

.slide-span::after {
  display: block;
  margin: 30px auto;
  content: '';
  width: 26px;
  height: 6px;
  background-repeat: no-repeat;
  background-size: contain;
  color: #c7133e;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .slide-span::after {
    background-image: url(../images/dots@2x.png);
  }
}

.contacts {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(5.7%, #fff5f6));
  background-image: linear-gradient(#ffffff 0% 5.7%, #fff5f6 5.7% 100%);
}

@media screen and (min-width: 768px) {
  .contacts {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(11.66%, #fff5f6));
    background-image: linear-gradient(#ffffff 0% 11.66%, #fff5f6 11.66% 100%);
  }
}

@media screen and (min-width: 1280px) {
  .contacts {
    background-image: url(/images/desktop/contacts-bg-desktop.png), -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(13.5%, #fff5f6));
    background-image: url(/images/desktop/contacts-bg-desktop.png), linear-gradient(#ffffff 0% 13.5%, #fff5f6 13.5% 100%);
    background-position: 0 102px, center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url(/images/desktop/contacts-bg-desktop@2x.png), -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(13.5%, #fff5f6));
    background-image: url(/images/desktop/contacts-bg-desktop@2x.png), linear-gradient(#ffffff 0% 13.5%, #fff5f6 13.5% 100%);
  }
}

@media screen and (max-width: 767px) {
  .contacts .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .contacts .container {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts .container {
    padding-left: 115px;
    padding-right: 115px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -20px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__list {
    margin-left: -30px;
  }
}

.contacts-card {
  padding: 43px 20px;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

@media screen and (max-width: 767px) {
  .contacts-card {
    min-width: 220px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-card {
    -ms-flex-preferred-size: calc(100% / 3 - 20px);
        flex-basis: calc(100% / 3 - 20px);
    padding: 50px 31px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-card {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    padding: 51px 44px 62px 43px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-card:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contacts-card__dealerships {
  margin-bottom: 25px;
  font-size: 12px;
  line-height: 1.86;
  font-weight: 500;
  letter-spacing: 0.04em;
  display: inline-block;
  color: #ffffff;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .contacts-card__dealerships {
    font-size: 16px;
    line-height: 1.86;
    font-weight: 500;
    letter-spacing: 0.04em;
    border-radius: 6px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-card__dealerships {
    margin-bottom: 32px;
  }
}

.contacts-card__dealerships--brown {
  padding: 0 24px;
  background: #f0d1a5;
}

@media screen and (min-width: 768px) {
  .contacts-card__dealerships--brown {
    padding: 0 16px;
  }
}

.contacts-card__dealerships--green {
  padding: 0 30px;
  background: #c2e297;
}

@media screen and (min-width: 768px) {
  .contacts-card__dealerships--green {
    padding: 0 16px;
  }
}

.contacts-card__city {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.86;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .contacts-card__city {
    font-size: 14px;
    line-height: 1.86;
    font-weight: 500;
    letter-spacing: 0.04em;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-card__city {
    font-size: 16px;
    line-height: 1.86;
    font-weight: 500;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
  }
}

.contacts-card__text {
  margin-bottom: 25px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .contacts-card__text {
    font-size: 14px;
    line-height: 1.66;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-card__text {
    font-size: 16px;
    line-height: 1.83;
    font-weight: 500;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
  }
}

.contacts-schedule {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

@media screen and (min-width: 768px) {
  .contacts-schedule {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-schedule {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts-schedule__item:nth-child(1) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contacts-schedule__item:nth-child(1) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-schedule__item:nth-child(1) {
    margin-bottom: 15px;
  }
}

.contacts-schedule__text {
  font-size: 12px;
  line-height: 1.86;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .contacts-schedule__text {
    font-size: 14px;
    line-height: 1.86;
    font-weight: 500;
    letter-spacing: 0;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-schedule__text {
    font-size: 16px;
    line-height: 1.86;
    font-weight: 500;
    letter-spacing: 0.04em;
  }
}

.time {
  font-size: 12px;
  line-height: 1.86;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .time {
    font-size: 14px;
    line-height: 1.86;
    font-weight: 500;
    letter-spacing: 0;
  }
}

@media screen and (min-width: 1280px) {
  .time {
    font-size: 16px;
    line-height: 1.86;
    font-weight: 500;
    letter-spacing: 0;
  }
}

.contacts__list-contacts {
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .contacts__list-contacts {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__list-contacts {
    margin-top: 32px;
  }
}

.contacts__link {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0;
  color: #907e82;
}

.contacts__link:hover, .contacts__link:focus {
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.83;
    font-weight: 500;
    letter-spacing: 0;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__link {
    font-size: 16px;
    line-height: 1.83;
    font-weight: 500;
    letter-spacing: 0;
  }
}

.contacts__buttons {
  margin-top: 54px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contacts__buttons {
    margin-top: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__buttons {
    margin-top: 86px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__itembtn:nth-child(1) {
    margin-right: 14.5px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__itembtn:nth-child(1) {
    margin-right: 15px;
  }
}

.contacts__button {
  position: relative;
  cursor: pointer;
  height: 44px;
  font-size: 16px;
  line-height: 1.3125;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: center;
  border-radius: 22px;
  border: none;
}

.contacts__button:nth-child(1) {
  margin-bottom: 10px;
}

.contacts__button--pink {
  padding-right: 33px;
  padding-left: 21px;
  color: #ffffff;
  background-color: #d41342;
}

.contacts__button--pink:hover, .contacts__button--pink:focus {
  background-color: #d41443;
}

@media screen and (min-width: 768px) {
  .contacts__button--pink {
    padding-right: 53px;
    padding-left: 31px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__button--pink {
    padding-right: 55px;
    padding-left: 36px;
  }
}

.contacts__button--white {
  padding-right: 51px;
  padding-left: 35px;
  color: #d41443;
  background-color: #ffffff;
}

.contacts__button--white:hover, .contacts__button--white:focus {
  background-color: #ecebeb;
}

@media screen and (min-width: 768px) {
  .contacts__button--white {
    padding-right: 59px;
    padding-left: 41px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__button--white {
    padding-right: 62px;
    padding-left: 43px;
  }
}

.contacts__icon--white {
  position: absolute;
  top: 17px;
  right: 14px;
}

@media screen and (min-width: 768px) {
  .contacts__icon--white {
    top: 17px;
    right: 29px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__icon--white {
    top: 17px;
    right: 30px;
  }
}

.contacts__icon--pink {
  position: absolute;
  top: 17px;
  right: 30px;
}

@media screen and (min-width: 768px) {
  .contacts__icon--pink {
    top: 17px;
    right: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__icon--pink {
    top: 17px;
    right: 35px;
  }
}

.footer {
  padding-top: 113px;
  padding-bottom: 25px;
  background-color: #fff5f6;
}

@media screen and (max-width: 767px) {
  .footer__title-box {
    margin-bottom: 43px;
    width: 234px;
  }
}

.footer__pre-title {
  font-family: "Titan One", cursive;
  font-size: 18px;
  line-height: 1.16667;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffa5ba;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.footer__title {
  font-family: "Titan One", cursive;
  font-size: 34px;
  line-height: 1.14706;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #d41443;
  text-transform: uppercase;
}

.footer__contacts-box {
  text-align: right;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 46px;
}

.footer .social__item:not(:last-child) {
  margin-right: 28px;
}

.footer .social__link {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fea5bb;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social__link:hover, .footer .social__link:focus {
  background-color: #d41443;
}

.footer .social__icon {
  fill: #ffffff;
}

.footer__text {
  color: #000000;
  font-size: 12px;
  line-height: 1.86;
  font-weight: 700;
  letter-spacing: 0.04em;
  margin-bottom: 43px;
}

.footer__tel {
  color: #d41443;
}

.footer__copyright-box {
  text-align: center;
  padding-top: 22px;
  border-top: 1px solid #e1e1e1;
}

.footer__copyright-text {
  font-size: 14px;
  line-height: 1.52;
  font-weight: 700;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 767px) {
  .footer__copyright-text {
    width: 150px;
    margin: 0 auto;
  }
}

.menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 250px;
  background: #e17992;
  -webkit-box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);
  padding-top: 118px;
  padding-left: 40px;
}

.menu-close {
  position: absolute;
  top: 23px;
  right: 28px;
  border: none;
  background-color: transparent;
}

.menu-close__icon {
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close:focus .menu-close__icon,
.menu-close:hover .menu-close__icon {
  fill: #d41443;
}

.menu-btn {
  width: 160px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  outline: none;
  color: #d41443;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.menu-btn__icon {
  width: 8px;
  height: 8px;
  margin-left: 12px;
}

.menu-btn:hover, .menu-btn:focus {
  background-color: #ecebeb;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.locations-modal {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

@media screen and (max-width: 479px) {
  .locations-modal {
    width: 100vw;
  }
}

@media screen and (min-width: 480px) {
  .locations-modal {
    width: 450px;
    height: 600px;
  }
}

@media screen and (min-width: 1280px) {
  .locations-modal {
    width: 530px;
    height: 580px;
  }
}

.locations-modal__close-btn {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.locations-modal__close-btn_icon {
  width: 30px;
  height: 30px;
  fill: #000;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.locations-modal__close-btn:hover .locations-modal__close-btn_icon {
  fill: #d41443;
}

.locations-modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #907e82;
  margin-bottom: 12px;
}

.locations-modal__map {
  width: 100%;
  display: block;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-modal {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

@media screen and (max-width: 479px) {
  .buy-modal {
    width: 100vw;
  }
}

@media screen and (min-width: 480px) {
  .buy-modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .buy-modal {
    width: 528px;
    height: 581px;
  }
}

.buy-modal__close-btn {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buy-modal__close-btn_icon {
  width: 30px;
  height: 30px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-modal__close-btn:hover .buy-modal__close-btn_icon {
  fill: #d41443;
}

.buy-modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #907e82;
  margin-bottom: 12px;
}

.buy-modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buy-modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
}

.buy-modal__input-box {
  position: relative;
}

.buy-modal__input {
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .buy-modal__input {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .buy-modal__input {
    width: 448px;
  }
}

.buy-modal__input:focus {
  border: 1px solid #d41443;
  outline: none;
}

.buy-modal__ikon {
  width: 18px;
  height: 18px;
  fill: #907e82;
  position: absolute;
  display: block;
  top: 11px;
  left: 12px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-modal__input:focus + .buy-modal__ikon {
  fill: #d41443;
}

.buy-modal__comment {
  margin-bottom: 20px;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  color: #907e82;
  resize: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.buy-modal__comment:focus {
  border: 1px solid #d41443;
}

.buy-modal__comment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.buy-modal__comment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.buy-modal__comment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.buy-modal__comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.buy-modal__checkbox_tumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.buy-modal__checkbox_label {
  letter-spacing: 0.03em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1199px) {
  .buy-modal__checkbox_label {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .buy-modal__checkbox_label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.buy-modal__checkbox:checked + .buy-modal__check {
  background-image: url();
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.buy-modal_check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #907e82;
  border-radius: 4px;
  margin-right: 7px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-modal__checkbox_link {
  color: #907e82;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .buy-modal__checkbox_link {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .buy-modal__checkbox_link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.franchise-modal {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

@media screen and (max-width: 479px) {
  .franchise-modal {
    width: 100vw;
  }
}

@media screen and (min-width: 480px) {
  .franchise-modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .franchise-modal {
    width: 528px;
    height: 581px;
  }
}

.franchise-modal__close-btn {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.franchise-modal__close-btn_icon {
  width: 30px;
  height: 30px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.franchise-modal__close-btn:hover .franchise-modal__close-btn_icon {
  fill: #d41443;
}

.franchise-modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #907e82;
  margin-bottom: 12px;
}

.franchise-modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.franchise-modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
}

.franchise-modal__input-box {
  position: relative;
}

.franchise-modal__input {
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .franchise-modal__input {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .franchise-modal__input {
    width: 448px;
  }
}

.franchise-modal__input:focus {
  border: 1px solid #d41443;
  outline: none;
}

.franchise-modal__ikon {
  width: 18px;
  height: 18px;
  fill: #907e82;
  position: absolute;
  display: block;
  top: 11px;
  left: 12px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.franchise-modal__input:focus + .franchise-modal__ikon {
  fill: #d41443;
}

.franchise-modal__comment {
  width: 100%;
  margin-bottom: 20px;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  color: #907e82;
  resize: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.franchise-modal__comment:focus {
  border: 1px solid #d41443;
}

.franchise-modal__comment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.franchise-modal__comment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.franchise-modal__comment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.franchise-modal__comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.franchise-modal__checkbox_tumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.franchise-modal__checkbox_label {
  letter-spacing: 0.03em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1199px) {
  .franchise-modal__checkbox_label {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .franchise-modal__checkbox_label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.franchise-modal__checkbox:checked + .franchise-modal__check {
  background-image: url();
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.franchise-modal__check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #907e82;
  border-radius: 4px;
  margin-right: 7px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.franchise-modal__checkbox_link {
  color: #907e82;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .franchise-modal__checkbox_link {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .franchise-modal__checkbox_link {
    font-size: 14px;
    line-height: 1.71;
  }
}

#back-to-top {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #fea5bb;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#back-to-top:hover {
  cursor: pointer;
  background-color: #d41443;
}

#back-to-top.show {
  opacity: 1;
  visibility: visible;
}

#back-to-top svg {
  fill: #d41443;
  -webkit-transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

#back-to-top:hover svg {
  fill: #ffffff;
}
/*# sourceMappingURL=main.css.map */