$mainFont: 'DM Sans', sans-serif;
$tittleFont: 'Titan One', cursive;
$whiteColor: #ffffff;
$blackColor: #000000;
$accentColor: #d41443;
$heroBg: #ffb8ca;
$mainBg: #e5e5e5;
$menuBg: #e17992;
$secondaryBg: #fff5f6;
$preTittleColor: #ffa5ba;
$primaryTextColor: #907e82;
$socialBg: #fea5bb;
$reviewBg: #fafafa;
$sliderBg: #d9d9d9;
$footerBorderColor: #e1e1e1;
$btnLightHover: #ecebeb;
$btnRedBg: #d41342;
$iceCreamBg: #ffb8ca;
$iceCoffeBg: #f0d1a5;
$milkshakesBg: #c2e297;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
