<section class="about" id="development">

  <div class="container">
    <p class="about__title-label element-animation">tradition and love</p>
    <h2 class="about__title element-animation">how it’s made?</h2>
    <div class="about__box">
      <div class="about__cow-container">
        <picture>
          <source
            srcset="
              images/desktop/about-cow-desktop.png     516w,
              images/desktop/about-cow-desktop@2x.png 1032w
            "
            media="(min-width: 1280px)"
            sizes="(min-width: 516px) 516px, 100vw"
          />
          <source
            srcset="
              images/tablet/about-cow-tablet.png    340w,
              images/tablet/about-cow-tablet@2x.png 680w
            "
            media="(max-width: 1279px)"
            sizes="(min-width: 340px) 340px, 100vw"
          />
          <source
            srcset="
              images/mobile/about-cow-mobile.png    280w,
              images/mobile/about-cow-mobile@2x.png 560w
            "
            media="(max-width: 767px)"
            sizes="(min-width: 280px) 280px, 100vw"
          />
          <img src="images/mobile/about-cow-mobile.png" alt="Jug of milk and cow" />
        </picture>
      </div>
      <div class="about__text-container element-animation">
        <p class="about__main-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p>Aliquam erat volutpat. Aenean accumsan.</p>
        <button class="about__button" type="button">
          Read more
          <svg class="about__button-icon" width="8" height="8">
            <use href="/images/icons.svg#icon-arrow-1-red"></use>
          </svg>
        </button>
      </div>

    </div>
  </div>
</section>
