<section class="advantages" id="development">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item">
        <h3 class="advantages__number advantages__number--first">721</h3>
        <p class="advantages__info element-animation">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__number advantages__number--second">16kg</h3>
        <p class="advantages__info element-animation">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__number advantages__number--third">84</h3>
        <p class="advantages__info element-animation">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
