<section class="advantages">
    <div class="advantages-container container">
        <ul class="advantages-list list">
            <li class="advantages-list__item">
                <span>721</span>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item">
                <span>16kg</span>           
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item">
                <span>84</span>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>