<section class="advantages">
    <div class="advantages-container container">
        <ul class="advantages-list list">
            <li class="advantages-list__item">
               
                <span  class="advantages-list__item-number_first">721</span>
                <p class="advantages-list__item-info">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item">
                <span class="advantages-list__item-number_second">16kg</span>           
                <p class="advantages-list__item-info">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item">
                <span class="advantages-list__item-number_third">84</span>
                <p class="advantages-list__item-info">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>