<button type="button" data-buy-modal-open>Buy now временная кнопка</button>
<div class="container">
    <div class="buy__backdrop backdrop is-hidden" data-buy-modal>
        <div class="buy-modal modal">
            <button type="button" class="buy-modal__close-btn close-btn" data-buy-modal-close><svg class="buy-modal__close-btn_icon close-btn__icon">
                    <use href="/images/icons.svg#icon-close_40px"></use>
                </svg>
            </button>
            <p class="buy-modal__title">Buy now</p>
            <form action="" class="buy-modal__form">

                <label for="user-name" class="buy-modal__label">Text</label>
                <div class="buy-modal__input-box">
                    <input type="name" id="user-name" name="user-name" placeholder="" class="buy-modal__input">
                    <svg class="buy-modal__ikon">
                        <use href="./images/icons.svg#icon-person-black"></use>
                    </svg>
                </div>

                <label for="user-tel" class="buy-modal__label">Text</label>
                <div class="buy-modal__input-box">
                    <input type="tel" id="user-tel" name="user-tel" placeholder="" class="buy-modal__input">
                    <svg class="buy-modal__ikon">
                        <use href="./images/icons.svg#icon-phone-black-18dp-1"></use>
                    </svg>
                </div>

                <label for="user-email" class="buy-modal__label">email</label>
                <div class="buy-modal__input-box">
                    <input type="email" id="user-email" name="user-email" placeholder="" class="buy-modal__input">
                    <svg class="buy-modal__ikon">
                        <use href="./images/icons.svg#icon-email-black"></use>
                    </svg>
                </div>
                <label for="user-comment" class="buy-modal__label">comment</label>
                <textarea type="text" id="user-comment" name="user-comment" placeholder="Text" rows="5"
                    class="buy-modal__comment"></textarea>
                <div class="buy-modal__checkbox_tumb">
                    <label for="checkbox" class="buy-modal__checkbox_label"><input type="checkbox" name="checkbox" id="checkbox"
                            value="Соглашаюсь с рассылкой и принимаю" class="buy-modal__checkbox visibility-hidden">
                        <span class="buy-modal__check"></span>Соглашаюсь с рассылкой и принимаю <a href=""
                            class="buy-modal__checkbox_link">Условия договора</a></label>
                </div>
                <button type="submit" class="buy-modal__button button"><span
                        class="buy-modal__modal-button-text">buy</span></button>

            </form>
        </div>

    </div>
</div>