<div class="container">
    <div class="buy__backdrop backdrop is-hidden" data-buy-modal>
        <div class="buy-modal modal">
            <button type="button" class="buy-modal__close-btn close-btn" data-buy-modal-close><svg class="buy-modal__close-btn_icon close-btn__icon">
                    <use href="/images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <p class="buy-modal__title">Buy now</p>
            <form class="buy-modal__form">

                <label for="buyer-name" class="buy-modal__label">Name</label>
                <div class="buy-modal__input-box">
                    <input type="text" id="buyer-name" name="user-name" placeholder="" class="buy-modal__input">
                    <svg class="buy-modal__ikon">
                        <use href="./images/icons.svg#icon-person-black"></use>
                    </svg>
                </div>

                <label for="buyer-tel" class="buy-modal__label">Tel</label>
                <div class="buy-modal__input-box">
                    <input type="tel" id="buyer-tel" name="user-tel" placeholder="" class="buy-modal__input">
                    <svg class="buy-modal__ikon">
                        <use href="./images/icons.svg#icon-phone-black-18dp-1"></use>
                    </svg>
                </div>

                <label for="buyer-email" class="buy-modal__label">email</label>
                <div class="buy-modal__input-box">
                    <input type="email" id="buyer-email" name="user-email" placeholder="" class="buy-modal__input">
                    <svg class="buy-modal__ikon">
                        <use href="./images/icons.svg#icon-email-black"></use>
                    </svg>
                </div>
                <label for="buyer-comment" class="buy-modal__label">comment</label>
                <textarea id="buyer-comment" name="user-comment" placeholder="comment" rows="5"
                    class="buy-modal__comment"></textarea>
                
                <button type="submit" class="buy-modal__button"><span
                        class="buy-modal__button-text">buy</span></button>

            </form>
        </div>

    </div>
</div>