<section class="contacts">
    <div>
        <h2 class="visually-hidden">representations</h2>
        <ul class="contacts_list">
            <li class="contacts_card-representation">
                <p>CAFE</p>
                <p>Chicago</p>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="">
                    <p>Monday - Friday</p>
                    <p>Saturday - Sunday</p>
                </div>
                
                <div>
                    <a class="link" href="">+61(0) 383 766 284</a>
                    <a class="link" href="">noreply@envato.com</a>
                </div>
            </li>
            <li>gfg</li>
            <li>bcn</li>
        </ul>
    </div>
</section>