<section class="contacts">
    <div class="container">
        <h2 class="visually-hidden">representations</h2>
        <ul class="contacts__list list">
            <li class="contacts-card">
                <p class="contacts-card__dealerships contacts-card__dealerships--brown">CAFE</p>
                <p class="contacts-card__city">Chicago</p>
                <p class="contacts-card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="contacts-schedule list">
                    <li class="contacts-schedule__item">
                        <p class="contacts-schedule__text">Monday - Friday</p>
                        <time class="time" datetime="06:00">06:00 AM </time> 
                        <span class="time">-</span>
                        <time class="time" datetime="10:00">10:00 PM</time>
                    </li>
                    <li class="contacts-schedule__item">
                        <p class="contacts-schedule__text">Saturday - Sunday</p>
                        <time class="time" datetime="08:00">08:00 AM</time>
                        <span class="time">-</span>
                        <time class="time" datetime="16:00">16:00 PM</time>
                    </li>
                </ul>
                
                <ul class="contacts_list-contacts list">
                    <li>
                        <a class="contacts__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="contacts__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts-card">
                <p class="contacts-card__dealerships contacts-card__dealerships--green">FOOD TRUCK</p>
                <p class="contacts-card__city">Los Angeles</p>
                <p class="contacts-card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="contacts-schedule list">
                    <li class="contacts-schedule__item">
                        <p class="contacts-schedule__text">Monday - Friday</p>
                        <time class="time" datetime="06:00">06:00 AM </time>
                        <span class="time">-</span>
                        <time class="time" datetime="10:00">10:00 PM</time>
                    </li>
                    <li class="contacts-schedule__item">
                        <p class="contacts-schedule__text">Saturday - Sunday</p>
                        <time class="time" datetime="08:00">08:00 AM</time>
                        <span class="time">-</span>
                        <time class="time" datetime="16:00">16:00 PM</time>
                    </li>
                </ul>
                
                <ul class="contacts_list-contacts list">
                    <li>
                        <a class="contacts__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="contacts__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts-card">
                <p class="contacts-card__dealerships contacts-card__dealerships--brown">CAFE</p>
                <p class="contacts-card__city">New York</p>
                <p class="contacts-card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="contacts-schedule list">
                    <li class="contacts-schedule__item">
                        <p class="contacts-schedule__text">Monday - Friday</p>
                        <time class="time" datetime="06:00">06:00 AM </time>
                        <span class="time">-</span>
                        <time class="time" datetime="10:00">10:00 PM</time>
                    </li>
                    <li class="contacts-schedule__item">
                        <p class="contacts-schedule__text">Saturday - Sunday</p>
                        <time class="time" datetime="08:00">08:00 AM</time>
                        <span class="time">-</span>
                        <time class="time" datetime="16:00">16:00 PM</time>
                    </li>
                </ul>
                
                <ul class="contacts_list-contacts list">
                    <li>
                        <a class="contacts__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="contacts__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="contacts__buttons list">
            <li>
                <button class="contacts__button contacts__button--pink" type="button" data-locations-modal-open>Our Locations
                    <svg class="contacts__icon contacts__icon--white" width="4.43" height="8" preserveAspectRatio="xMidYMid meet">
                        <use href=""></use>
                    </svg>
                </button>
            </li>
            <li>
                <button class="contacts__button contacts__button--white" type="button" data-franchise-modal-open>Franchise
                    <svg class="contacts__icon contacts__icon--pink" width="4.43" height="8" preserveAspectRatio="xMidYMid meet">
                        <use href=""></use>
                    </svg>
                </button>
            </li>
            
        </ul>
    </div>
</section>