<section class="contacts">
    <div>
        <h2 class="visually-hidden">representations</h2>
        <ul class="contacts__list">
            <li class="contacts__card-compani">
                <p class="contacts__compani">CAFE</p>
                <p class="contacts__city-compani">Chicago</p>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="contacts_time">
                    <p>Monday - Friday</p>
                    <time>06:00 AM - 10:00 PM</time>
                    <p>Saturday - Sunday</p>
                    <time>08:00 AM - 16:00 PM</time>
                </div>
                
                <div class="contacts_card-compani">
                    <a class="link" href="">+61(0) 383 766 284</a>
                    <a class="link" href="">noreply@envato.com</a>
                </div>
            </li>
            <li>gfg</li>
            <li>bcn</li>
        </ul>
    </div>
</section>