<section class="customer-reviews">
  <div class="container">
 <h2 class="visually-hidden">customer reviews</h2> 
<div class="slider">
  <div class="slide">
   <img srcset="/images/customer1@1x.png 1x" src="images/customer1@1x.png"
    alt="first-review"/>  
    <div class="slide-text-description__wrapper">
      <p class="slide-text-description">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>  
      <p class="slide-text-description-dots"></p>
</div> 
    <p class="slide-text-reviewer">Emily, Los Angeles</p>
</div>
<div class="slide">
  <img src="/images/customer1.png"
  alt="first-review"/> 
  <p class="slide-text-description">
    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
  </p>
  <p class="slide-text-reviewer">Emily, Los Angeles</p>
</div>
<div class="slide">
  <img src="/images/customer1.png"
  alt="first-review"/> 
  <p class="slide-text-description">
    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
  </p>
  <p class="slide-text-reviewer">Emily, Los Angeles</p>
</div>
</div>
</div>
</section>

