<section class="customer-reviews">
  <div class="container">
 <h2 class="visually-hidden">customer reviews</h2> 
<div class="slider">
  <div class="slide">
    <img src="../src/images/customer1.png"
    alt="first-review"/> 
    <p class="slide-text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
    <p class="slide-text">Emily, Los Angeles</p>
</div>
<div class="slide">
  <img src="../src/images/customer1.png"
  alt="first-review"/> 
  <p class="slide-text">
    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
  </p>
  <p class="slide-text">Emily, Los Angeles</p>
</div>
<div class="slide">
  <img src="../src/images/customer1.png"
  alt="first-review"/> 
  <p class="slide-text">
    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
  </p>
  <span class="customer-reviews">...</span>
  <p class="slide-text">Emily, Los Angeles</p>
</div>
</div>
</div>
</section>

