<section>
    <footer class="footer">
        <div class="container footer__container">
            <div class="footer__address">
                <a class="logo footer">
                    <h3 class="footer__title">HOMEMADE ICE CREAM MADE <br />
                        <span class="footer title-list">WITH PASSION</span>
                    </h3>
                </a>
            </div>
            <div>
                <address class="address">
                    <a class="address__link address__link--color" href="tel:+61(0)383766284">Feel free to contact +61
                        (0) 383 766 284</a>
                </address>
                <div class="footer__social-box">
                    <ul class="social-icons">
                        <li class="social-icons__item ">
                            <a class="icon-link-footer">
                                <svg width="32" height="32" >
                                    <use href="/images/icons.svg#icon-github">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-icons__item ">
                            <a class="icon-link-footer">
                                <svg width="32" height="32"vg>
                                    <use href="/images/icons.svg#icon-telegram">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-icons__item ">
                            <a class="icon-link-footer">
                                <svg width="32" height="32">
                                    <use href="/images/icons.svg#icon-facebook">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="content">© 2019 - IceCream.
                            All Rights Reserved. </li>
                    </ul>
                </div>
            </div>
    </footer>
</section>