<button type="button" data-franchise-modal-open>franchise временная кнопка</button>
<div class="container">
    <div class="franchise__backdrop backdrop is-hidden" data-franchise-modal>
        <div class="franchise-modal modal" data-franchise-modal-open>
            <button type="button" class="franchise-modal__close-btn close-btn" data-franchise-modal-close><svg
                    class="franchise-modal__close-btn_icon close-btn_icon">
                    <use href="/images/icons.svg#icon-close_40px"></use>
                </svg>
            </button>
            <p class="franchise-modal__title modal__title">franchise</p>
            <form action="" class="franchise-modal__modal_form">

                <label for="user-name" class="franchise-modal__label">Text</label>
                <div class="franchise-modal__input-box">
                    <input type="name" id="user-name" name="user-name" placeholder="" class="franchise-modal__input">
                    <svg class="franchise-modal__ikon">
                        <use href="./images/icons.svg#icon-person-black"></use>
                    </svg>
                </div>

                <label for="user-tel" class="franchise-modal__label">Text</label>
                <div class="franchise-modal__input-box">
                    <input type="tel" id="user-tel" name="user-tel" placeholder="" class="franchise-modal__input">
                    <svg class="franchise-modal__ikon">
                        <use href="./images/icons.svg#icon-phone-black-18dp-1"></use>
                    </svg>
                </div>

                <label for="user-email" class="franchise-modal__label">email</label>
                <div class="franchise-modal__input-box">
                    <input type="email" id="user-email" name="user-email" placeholder="" class="franchise-modal__input">
                    <svg class="franchise-modal__ikon">
                        <use href="./images/icons.svg#icon-email-black"></use>
                    </svg>
                </div>
                <label for="user-comment" class="franchise-modal__label">comment</label>
                <textarea type="text" id="user-comment" name="user-comment" placeholder="Text" rows="5"
                    class="franchise-modal__comment"></textarea>
                <div class="franchise-modal__checkbox_tumb">
                    <label for="checkbox" class="franchise-modal__checkbox_label"><input type="checkbox" name="checkbox"
                            id="checkbox" value="Соглашаюсь с рассылкой и принимаю"
                            class="franchise-modal__checkbox visibility-hidden">
                        <span class="franchise-modal__check"></span>Соглашаюсь с рассылкой и принимаю <a href=""
                            class="franchise-modal__checkbox_link">Условия договора</a></label>
                </div>
                <button type="submit" class="franchise-modal__button button"><span
                        class="franchise-modal__button-text">buy</span></button>

            </form>
        </div>

    </div>
</div>