<div class="container">
    <div class="franchise__backdrop backdrop is-hidden" data-franchise-modal>
        <div class="franchise-modal modal">
            <button type="button" class="franchise-modal__close-btn close-btn" data-franchise-modal-close><svg
                    class="franchise-modal__close-btn_icon close-btn_icon">
                    <use href="/images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <p class="franchise-modal__title modal__title">join us</p>
            <form class="franchise-modal__modal_form">

                <label for="user-name" class="franchise-modal__label">Adress</label>
                <div class="franchise-modal__input-box">
                    <input type="text" id="user-name" name="name" class="franchise-modal__input">
                    <svg class="franchise-modal__ikon">
                        <use href="./images/icons.svg#icon-person-black"></use>
                    </svg>
                </div>

                <label for="user-tel" class="franchise-modal__label">Tel</label>
                <div class="franchise-modal__input-box">
                    <input type="tel" id="user-tel" name="tel" class="franchise-modal__input">
                    <svg class="franchise-modal__ikon">
                        <use href="./images/icons.svg#icon-phone-black-18dp-1"></use>
                    </svg>
                </div>

                <label for="user-email" class="franchise-modal__label">email</label>
                <div class="franchise-modal__input-box">
                    <input type="email" id="user-email" name="email" class="franchise-modal__input">
                    <svg class="franchise-modal__ikon">
                        <use href="./images/icons.svg#icon-email-black"></use>
                    </svg>
                </div>
                <label for="user-comment" class="franchise-modal__label">comment</label>
                <textarea id="user-comment" name="comment" placeholder="comment" rows="5"
                    class="franchise-modal__comment"></textarea>
                
                <button type="submit" class="franchise-modal__button"><span
                        class="franchise-modal__button-text">join</span></button>

            </form>
        </div>

    </div>
</div>