<section class="gallery">
    <h2 class="visually-hidden">gallery</h2>
    <div class="container">
        <picture>
            <source srcset="images/mobile/gallery-mobile.jpg 320w, images/mobile/gallery-mobile@2x.jpg 640w"
                media="(max-width: 767px)" sizes="(min-width: 320px) 320px, 100vw">
            <source srcset="images/tablet/gallery-tablet.png 768w, images/tablet/gallery-tablet@2x.png 1536w"
                media="(min-width: 768px)" sizes="(min-width: 768px) 768px, 100vw">
            <source srcset="images/desktop/gallery-desktop.png 1280w, images/desktop/gallery-desktop@2x.png 25606w"
                media="(min-width: 1280px)" sizes="(min-width: 1280px) 1280px, 100vw">
            <img src="images/mobile/gallery-mobile.jpg" alt="" class="gallery__img">
        </picture>
    </div>
</section>