<header>
    <div class="conteiner ">
        <!-- <a href="index.html" class="header-logo link">
            <Picture>
                <source srcset="./img/logo 1x.png 1x , ./img/logo 1-2x.png 2x">
                <img src="./img/logo 1x.png" alt="logo" width="199">
            </Picture>
        </a>    --> 
            <div class="header-nav">
                <ul class="header-nav_list list">
                    <li class="header-nav_item">
                        <a class="header-nav_item-link link" href="index.html">Home</a>
                    </li>
                    <li class="header-nav_item">
                        <a class="header-nav_item-link link" href="#">About us</a>
                    </li>
                    <li class="header-nav_item">
                        <a class="header-nav_item-link link" href="#">How it’s made?</a>
                    </li>
                    <li class="header-nav_item">
                        <a class="header-nav_item-link link" href="#">Our products</a>
                    </li>
                    <li class="header-nav_item">
                        <a class="header-nav_item-link link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- <button type="button" class="open-modal-btn">
                <svg class="open-modal_icon" width="20" heith="12">
                    <use href="">X</use>
                </svg>
            </button> -->
    </div>
</header>