<section class="hero section">
  <div class="container">
    <h1 class="hero__tittle element-animation">
      ice cream made with
      <span class="hero__tittle--red">passion</span>
    </h1>
    <div class="hero__buttons">
      <a href="#products" class="hero__btn hero__btn--ptimary link element-animation">Products</a>
      <a href="#about" class="hero__btn hero__btn--secondary link element-animation"
        >How it’s made?</a
      >
    </div>

    <div class="hero__milk-and-text">
      <picture class="hero__milk">
        <source
          media="(min-width: 1280px)"
          srcset="
            /images/desktop/hero-milk-desktop.png    1x,
            /images/desktop/hero-milk-desktop@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="/images/tablet/hero-milk-tablet.png 1x, /images/tablet/hero-milk-tablet@2x.png 2x"
        />
        <img src="/images/desktop/hero-milk-desktop.png" alt="Milk picture" />
      </picture>
      <div class="hero__text-and-btn">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="hero__milk-card-btn">
          <svg class="hero__icon">
            <use href="/images/icons.svg#icon-arrow-2"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
