<section class="product">
  <div class="container">
    <p class="product__title">100% natural</p>
    <h2 class="product__heading">products</h2>
    <ul class="product__list list">
      <li class="product-card product-card--cream">
        <picture class="product-picture__icecream">
          <source
            srcset="
              images/mobile/products-icecream-mobile.png    1x,
              images/mobile/products-icecream-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px, 100vw"
          />

          <img src="images/mobile/products-icecream-mobile.png" alt="icecream" />
        </picture>
        <h3 class="product-card__heading">ice cream</h3>
        <p class="product-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="product-card__btn">aaa</button>
      </li>
      <li class="product-card product-card--coffee">
        <picture class="product-picture__icecream">
          <source
            srcset="
              images/mobile/products-icecoffee-mobile.png    1x,
              images/mobile/products-icecoffee-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px, 100vw"
          />

          <img src="images/mobile/products-icecoffee-mobile.png" alt="icecoffe" />
        </picture>
        <h3 class="product-card__heading">ice coffee</h3>
        <p class="product-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="product-card__btn">aaa</button>
      </li>
      <li class="product-card product-card--milkshakes">
        <picture class="product-picture__icecream">
          <source
            srcset="
              images/mobile/products-milkshake-mobile.png    1x,
              images/mobile/products-milkshake-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px, 100vw"
          />

          <img src="images/mobile/products-milkshake-mobile.png" alt="milkshake" />
        </picture>
        <h3 class="product-card__heading">milkshakes</h3>
        <p class="product-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="product-card__btn">aaa</button>
      </li>
    </ul>
  </div>
</section>
