<div class="container">
    <div class="recipe__backdrop backdrop is-hidden" data-recipe-modal>
        <div class="recipe-modal modal">
            <button type="button" class="recipe-modal__close-btn close-btn" data-recipe-modal-close><svg
                    class="recipe-modal__close-btn_icon close-btn_icon">
                    <use href="/images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <p class="recipe-modal__title modal__title">This is our recipe</p>
            <div class="recipe-modal__content-box">
            <p class="recipe-modal__content">1. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p class="recipe-modal__content">2. Explicabo molestias aperiam, provident aspernatur voluptatum nostrum nobis ratione voluptatibus obcaecati minima debitis.</p>
            <p class="recipe-modal__content">3. Explicabo molestias aperiam, provident aspernatur voluptatum nostrum nobis ratione voluptatibus obcaecati minima debitis.</p>
            <p class="recipe-modal__content">4. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p class="recipe-modal__content">5. Explicabo molestias aperiam, provident aspernatur voluptatum.</p>
            </div>
        </div>

    </div>
</div>
