<div class="container">
    <div class="recipe__backdrop backdrop is-hidden" data-recipe-modal>
        <div class="recipe-modal modal">
            <button type="button" class="recipe-modal__close-btn close-btn" data-recipe-modal-close><svg
                    class="recipe-modal__close-btn_icon close-btn_icon">
                    <use href="/images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <p class="recipe-modal__title modal__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sit provident voluptas at alias ut porro voluptatibus! Placeat voluptate modi explicabo officia, adipisci expedita eveniet? Quisquam delectus, corrupti doloribus accusantium dignissimos asperiores molestiae cum, culpa accusamus tenetur dolore recusandae excepturi aperiam voluptatem, qui ad voluptatum error debitis dolorum commodi. Beatae voluptates doloribus inventore unde adipisci voluptatem maiores. Ducimus reiciendis eligendi quasi ipsam cupiditate libero totam deserunt, vel qui ipsum consectetur possimus hic dolor voluptates natus tempora aperiam earum laudantium. Totam voluptas obcaecati saepe. Quod ipsam voluptate tempore eligendi error assumenda corporis similique eveniet voluptas, quisquam totam optio minus accusamus incidunt.</p>
            
        </div>

    </div>
</div>
<button type="button" data-recipe-modal-open>тест</button>