.about {
  padding-top: 125px;
  background-color: $secondaryBg;
  background-image: url(../images/mobile/about-bg-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 766px;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/mobile/about-bg-mobile@2x.png);
  }

  @media (min-width: 768px) {
    background-image: none;
    padding-top: 130px;
  }

  @media (min-width: 1280px) {
    background-image: url(../images/desktop/about-bg-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 342px;
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/desktop/about-bg-desktop@2x.png);
        }
  }
}

.about__title-label {
  margin-bottom: 15px;
  font-family: $tittleFont;
  @include font(18px, 1.14, 400);
  text-align: center;
  color: $preTittleColor;

  @media (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 16px;
    font-size: 26px;
  }
  @media (min-width: 1280px) {
    font-size: 30px;
  }
}

.about__title {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 26px;
  font-family: $tittleFont;
  @include font(34px, 1.14, 400);
  text-align: center;
  text-transform: uppercase;
  color: $accentColor;

  @media (min-width: 768px) {
    width: auto;
    margin-bottom: 50px;
    font-size: 48px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 55px;
    font-size: 58px;
  }
}

.about__box {
  padding-bottom: 39px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-right: 2px;
    margin-left: 5px;
    padding-bottom: 66px;
  }
  @media (min-width: 1280px) {
    padding-bottom: 39px;
  }
}

.about__cow-container {
  display: flex;
  justify-content: center;
  margin-bottom: 46px;

  @media (min-width: 768px) {
    margin-right: 17px;
  }

  @media (min-width: 1280px) {
    margin-right: 74px;
    margin-bottom: 0;
  }
}

.about__text-container {
  margin: 0 auto;
  width: 220px;
  font-family: $mainFont;
  @include font(12px, 1.62, 500, 0em);
  color: $primaryTextColor;

  @media (min-width: 768px) {
    margin: 0;
    width: 340px;
    @include font(14px, 1.76, 500, 0em);
    padding-top: 50px;
  }

  @media (min-width: 1280px) {
    width: 463px;
    line-height: 1.94;
    letter-spacing: 0.04em;
    padding-top: 51px;
  }
}

.about__main-text {
  color: $blackColor;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    margin-bottom: 26px;
  }

  @media (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
  }
}

.about__text {
  margin-bottom: 26px;
}

.about__button {
  height: 44px;
  margin-top: 17px;
  padding-right: 37px;
  padding-left: 37px;
  font-family: $mainFont;
  @include font(14px, 1.3, 700, 0em);
  text-align: center;
  color: $accentColor;
  background-color: $whiteColor;
  border-style: none;
  border-radius: 22px;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $btnLightHover;
  }
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (min-width: 768px) {
    margin-top: 62px;
  }

  @media (min-width: 1280px) {
    margin-top: 48px;
  }
}

.about__button-icon {
  margin-left: 14px;
}
