.advantages {
  background-color: $secondaryBg;
  & .container {
    padding: 66px 20px 97px 20px;
  }
}

.advantages {
  &__item:not(:last-child) {
    margin-bottom: 104px;
  }
  &__number {
    position: relative;
    font-family: $tittleFont;
    @include font(36px, (41.22/36), 400);
    color: $accentColor;
    display: block;
    margin-bottom: 18px;
  }
  &__info {
    font-family: $mainFont;
    @include font(12px, (20.4/12), 700);
    color: $blackColor;
  }
}

.advantages__number {
  &.number-first::before {
    position: absolute;
    display: block;
    bottom: 70px;
    content: '';
    width: 33px;
    height: 50px;
    background-image: url(../images/advantages-icon1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &.number-second::before {
    position: absolute;
    display: block;
    bottom: 70px;
    content: '';
    width: 50px;
    height: 50px;
    background-image: url(../images/advantages-icon2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &.number-third::before {
    position: absolute;
    display: block;
    bottom: 70px;
    content: '';
    width: 44px;
    height: 50px;
    background-image: url(../images/advantages-icon3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
