.advantages {
  background-color: $secondaryBg;
  & .container {
    padding-bottom: 97px;
    @media screen and (min-width: $tablet) {
      padding-bottom: 140px;
      padding-left: 36px;
      padding-right: 56px;
    }
    @media screen and (min-width: $desktop) {
      padding-left: 113px;
      padding-right: 117px;
      padding-bottom: 139px;
    }
  }
}

.advantages {
  &__item {
    position: relative;
    padding-top: 66px;
    @media screen and (min-width: $tablet) {
      padding-top: 86px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 90px;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 38px;
    @media screen and (min-width: $tablet) {
      margin-right: 60px;
      margin-bottom: 0;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }
  &__number {
    font-family: $tittleFont;
    @include font(36px, (41.22/36), 400);
    color: $accentColor;
    display: block;
    margin-bottom: 18px;
    &::before {
      position: absolute;
      display: block;
      top: 0;
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 50px;
    }

    &--first::before {
      width: 33px;

      background-image: url(../images/advantages-icon1.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/advantages-icon1@2x.png);
      }
    }

    &--second::before {
      width: 50px;

      background-image: url(../images/advantages-icon2.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/advantages-icon2@2x.png);
      }
    }

    &--third::before {
      width: 44px;

      background-image: url(../images/advantages-icon3.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/advantages-icon3@2x.png);
      }
    }

    @media screen and (min-width: $tablet) {
      @include font(48px, (54.96/48), 400);
      margin-bottom: 13px;
    }
    @media screen and (min-width: $desktop) {
      @include font(58px, (66.41/58), 400);
      margin-bottom: 15px;
    }
  }
  &__info {
    @include font(12px, (20.4/12), 700);
    @media screen and (min-width: $tablet) {
      @include font(14px, (24.36/14), 700);
    }
    @media screen and (min-width: $desktop) {
      @include font(16px, (28.26/16), 700);
    }
    color: $blackColor;
  }

  &__list {
    @media screen and (min-width: $tablet) {
      display: flex;
    }
  }
}
