.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 110;
}

.backdrop.is-hidden .buy-modal {
  transform: translateY(-100%) rotateZ(90deg);
}

.buy-modal {
  @media screen and (max-width: 479px) {
    width: 100vw;
    margin-right: 10px;
    margin-left: 10px;
    background-size: 200px;
  }

  position: relative;
  background-color: $secondaryBg;
  background-image: url(/images/funny-cow@1x.png);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(/images/funny-cow@2x.png),
      linear-gradient($whiteColor 0% 13.5%, $secondaryBg 13.5% 100%);
  }
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: bottom left;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.14);
  // box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  //   0px 2px 2px rgba(0, 0, 0, 0.12);
  // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  //   0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 40px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/funny-cow@2x.png);
  }
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 1280px) {
    width: 528px;
    height: 609px;
  }
}

.buy-modal__close-btn {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buy-modal__close-btn_icon {
  width: 30px;
  height: 30px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .buy-modal__close-btn:hover & {
    fill: $accentColor;
    transform: rotate(90deg);
  }
}

.buy-modal__title {
  font-family: $tittleFont;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $menuBg;
  margin-bottom: 12px;
}

.buy-modal__form {
  display: flex;
  flex-direction: column;
}

.buy-modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $accentColor;
  cursor: pointer;
}

.buy-modal__input-box {
  position: relative;
}

.buy-modal__input {
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 40px;
  color: $accentColor;
  cursor: pointer;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  // @media screen and (min-width: 480px) and (max-width: 1199px) {
  //   width: 370px;
  // }

  // @media screen and (min-width: 1200px) {
  //   width: 448px;
  // }

  &:focus {
    border: 1px solid $accentColor;
    outline: none;
  }
}

.buy-modal__ikon {
  width: 18px;
  height: 18px;
  fill: $primaryTextColor;
  position: absolute;
  display: block;
  top: 11px;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .buy-modal__input:focus + & {
    fill: $accentColor;
  }
}

.buy-modal__comment {
  width: 100%;
  margin-bottom: 43px;
  @media screen and (min-width: 480px) {
    margin-bottom: 70px;
  }
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  color: $primaryTextColor;
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;

  &:focus {
    border: 1px solid $accentColor;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.buy-modal__checkbox_tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.buy-modal__checkbox_label {
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.16;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.buy-modal__checkbox:checked + .buy-modal__check {
  background-image: url();
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.buy-modal_check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $primaryTextColor;
  border-radius: 4px;
  margin-right: 7px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-modal__checkbox_link {
  color: $primaryTextColor;
  letter-spacing: 0.03em;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.16;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.buy-modal__button {
  display: block;
  border: none;
  // border: 1px solid rgba(33, 33, 33, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: $accentColor;
  border-radius: 22px;
  padding: 0px 28px;
  height: 44px;
  margin-left: auto;
  margin-right: 0;
  color: $whiteColor;
  cursor: pointer;

  @media screen and (max-width: 479px) {
    padding: 0px 32px;
  }
  &:hover,
  :focus {
    background-color: $whiteColor;
    color: $accentColor;
  }
}

.buy-modal__button-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
}
