.customer-reviews {
  & .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.slider {
  width: 40rem;
}

.slide {
  img {
    position: relative;
    display: block;
    min-width: 120px;
    max-width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 85px;
    height: 85px;
  }
}

.slide-text {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 30.6px;
  text-align: center;
  color: $blackColor;
}

.slide-ellipse {
  display: flex;
}

.slick-dots {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 1rem 0;

  list-style-type: none;

  li {
    margin: 0 0.25rem;
  }

  button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #d9d9d9;
    text-indent: -9999px;
  }

  li.slick-active button {
    background-image: url(/images/home.png);
    background-repeat: no-repeat;
    border-radius: 0px;
  }
}
