.customer-reviews {
  background-color: $whiteColor;
  padding-top: 125px;
  padding-bottom: 98px;

  @media screen and (min-width: $tablet) {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 127px;
    padding-bottom: 119px;
  }

  & .container {
    @media screen and (min-width: $tablet) {
      padding-left: 74px;
      padding-right: 74px;
    }

    @media screen and (min-width: $desktop) {
      padding-left: 178px;
      padding-right: 178px;
    }
  }
}

.slide {
  img {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    width: 85px;
    height: 85px;
    margin-bottom: 29px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 19px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 15px;
    }
  }
}

.slide__reviewer {
  font-family: $mainFont;
  @include font(14px, 1.86, 500, 0);
  text-align: center;
  color: $blackColor;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }

  &::before {
    display: block;
    margin: 30px auto 18px;

    @media screen and (min-width: $tablet) {
      margin: 24px auto 14px;
    }

    @media screen and (min-width: $desktop) {
      margin: 15px auto;
    }

    content: '...';
    width: 54px;
    height: 40px;
    font-size: 35px;
    font-weight: 700;
    line-height: 1;

    color: #c7133e;
  }
}

.slide__wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: $reviewBg;
  padding: 43px 50px 20px 50px;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    background-color: #fafafa66;
  }

  @media screen and (min-width: $tablet) {
    padding: 47px 36px 28px 36px;
  }

  @media screen and (min-width: $desktop) {
    padding: 47px 54px 32px 50px;
  }

  &::before {
    display: block;
    position: absolute;
    top: 28px;
    left: 61px;
    @media screen and (min-width: $tablet) {
      top: 30px;
      left: 40px;
    }

    @media screen and (min-width: $desktop) {
      top: 32px;
      left: 50px;
    }

    z-index: 0;
    content: '';
    width: 54px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/quotes.png);
    background-color: transparent;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/quotes@2x.png);
    }
  }
}

.slide__text-description {
  position: relative;
  z-index: 1;
  @include font(12px, 2.55, 500, 0.03em);

  text-align: center;

  color: $blackColor;
  padding-left: 7px;
  padding-right: 16px;
  background-image: repeating-linear-gradient(
    transparent,
    transparent 29px,
    #e1e1e1 1px,
    #e1e1e1 30px
  );

  @media screen and (min-width: $tablet) {
    @include font(14px, 2.16);
    background-image: repeating-linear-gradient(
      transparent,
      transparent 28px,
      rgb(225, 225, 225) 1px,
      rgb(225, 225, 225) 29px
    );

    padding-left: 20px;
    padding-right: 44px;
  }

  @media screen and (min-width: $desktop) {
    background-image: repeating-linear-gradient(
      transparent,
      transparent 28px,
      rgb(225, 225, 225) 1px,
      rgb(225, 225, 225) 29px
    );
    @include font(16px, 1.86);

    padding-left: 28px;
    padding-right: 35px;
  }
}

.slide-ellipse {
  display: flex;
}

.slick-dots {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 30px 0 0;
  @media screen and (min-width: $tablet) {
    padding: 35px 0 0;
  }

  list-style-type: none;

  li {
    margin: 0 0.25rem;
  }

  button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #d9d9d9;
    text-indent: -9999px;
    cursor: pointer;
  }

  li.slick-active button {
    background-image: url(../images/home.png);
    background-repeat: no-repeat;
    border-radius: 0px;
    background-color: transparent;
    background-position: center;
    background-size: contain;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/home@2x.png);
    }
  }
}
