.slider {
  width: 40rem;
}

.slide {
  img {
    display: flex;
    width: 50%;
    height: auto;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 1rem 0;

  list-style-type: none;

  li {
    margin: 0 0.25rem;
  }

  button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;

    border: none;
    border-radius: 100%;
    background-color: blue;

    text-indent: -9999px;
  }

  li.slick-active button {
    background-color: red;
  }
}
