.customer-reviews {
  //background-color: $whiteColor;
  // margin-bottom: 20px;
  // background-position: 0 766px;

  padding-top: 125px;
  padding-bottom: 98px;

  @media screen and (min-width: 767px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }

  & .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.slider {
  width: 40rem;
}

.slide {
  img {
    position: relative;
    display: block;
    min-width: 120px;
    max-width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    width: 85px;
    height: 85px;
  }
}

.slide-text-reviewer {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 30.6px;
  text-align: center;
  color: $blackColor;
}

.slide-text-description {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 30.6px;
  text-align: center;
  color: $blackColor;

  &::before {
    //position: absolute;
    display: block;
    margin: 30px auto;
    content: '';
    width: 26px;
    height: 6px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/quotes.png);

    background: $footerBorderColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-190deg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/quotes@2x.png);
    }
  }

  &::after {
    display: block;
    margin: 30px auto;
    content: '';
    width: 26px;
    height: 6px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/dots.png);
    color: #c7133e;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/dots@2x.png);
    }
  }
}

.slide-ellipse {
  display: flex;
}

.slick-dots {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 1rem 0;

  list-style-type: none;

  li {
    margin: 0 0.25rem;
  }

  button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #d9d9d9;
    text-indent: -9999px;
  }

  li.slick-active button {
    background-image: url(/images/home.png);
    background-repeat: no-repeat;
    border-radius: 0px;
  }
}
