.header {
  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  position: absolute;
  width: 100%;
  background-color: transparent;
  padding-top: 6px;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 37px;
  }
}

.header-container {
  @media screen and (min-width: 1280px) {
    padding-left: 46px;
  }
}

.logo {
  width: 199px;
  height: 50px;
}

.menu-open {
  width: 20px;
  height: 12px;
  cursor: pointer;
  top: 25px;
  right: 20px;
  display: block;
  margin: 0;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.open-menu_icon {
  width: 20px;
  height: 12px;
  fill: $accentColor;
}

.header-btn {
  width: 160px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  outline: none;
  color: $accentColor;
  border: none;
  background-color: $whiteColor;
  cursor: pointer;
  @include font(16px, 21px, 500);
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 0px;
  }
  &:hover,
  &:focus {
    background-color: $btnLightHover;
  }
}

.header-btn__icon {
  fill: $accentColor;
  width: 8px;
  height: 8px;
  margin-left: 12px;
}

.header-nav__list {
  display: flex;
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.header-nav__item {
  &:not(:first-child) {
    margin-left: 35px;
  }
}
.header-nav__link {
  color: $whiteColor;
  @include font(16px, 21px, 700);
  &:hover,
  &:focus {
    color: $accentColor;
  }
}
