// .hero {
//   background-color: $heroBg;
//   padding-top: 193px;
//   padding-bottom: 160px;

//   &__tittle {
//     font-family: $tittleFont;
//     @include font(38px, (44/38));
//     color: $whiteColor;
//     text-transform: uppercase;

//     &--red {
//       color: $accentColor;
//       @include font(58px, 0.905);
//     }
//   }
// }

/*--- Hero header ---*/

.hero {
  background-color: $heroBg;
  padding-top: 193px;
  padding-bottom: 160px;

  @media screen and (min-width: $tablet) {
    padding-top: 102px;
    padding-bottom: 28px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 171px;
    padding-bottom: 45px;
  }

  & .container {
    @media screen and (min-width: $tablet) {
      padding-left: 34px;
      padding-right: 34px;
    }

    @media screen and (min-width: $desktop) {
      padding-left: 77px;
      padding-right: 97px;
    }
  }
}

.hero__tittle {
  max-width: 218px;
  font-family: $tittleFont;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $whiteColor;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    max-width: 162px;
    font-size: 22px;
    line-height: 1.14;
  }

  @media screen and (min-width: $desktop) {
    max-width: 277px;
    font-size: 38px;
    line-height: 1.16;
    margin-bottom: 25px;
  }
}

.hero__tittle--red {
  font-size: 48px;
  line-height: 96.5%;
  /* or 46px */

  color: $accentColor;

  @media screen and (min-width: $tablet) {
    font-size: 34px;
    line-height: 90.5%;
    /* or 31px */
  }

  @media screen and (min-width: $desktop) {
    font-size: 58px;
    line-height: 90.5%;
    /* or 52px */
  }
}

/*--- Hero btn ---*/

.hero__buttons {
  display: flex;

  @media screen and (min-width: $tablet) {
    margin-bottom: 19px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 56px;
  }
}
.hero__btn {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;

  border-radius: 20px;

  padding: 7px 14px;

  border: none;
  outline: none;
  cursor: pointer;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.28;
    padding: 12px 22px;
  }
}

.hero__btn + .hero__btn {
  margin-left: 8px;

  @media screen and (min-width: $desktop) {
    margin-left: 15px;
  }
}

.hero__btn--ptimary {
  color: $whiteColor;
  background: $accentColor;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #c7133e;
  }
}

.hero__btn--secondary {
  color: $accentColor;
  background: $whiteColor;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $btnLightHover;
  }
}

/*---Milk-and-text---*/

.hero__milk-and-text {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
  }

  @media screen and (min-width: $desktop) {
    margin-left: -38px;
  }
}

.hero__text-and-btn {
  margin-left: -4px;

  @media screen and (min-width: $desktop) {
    margin-left: 30px;
  }
}

.hero__text {
  max-width: 114px;
  margin-top: 47px;

  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
  /* or 12px */

  color: $whiteColor;
  margin-bottom: 7px;

  @media screen and (min-width: $desktop) {
    max-width: 200px;
    margin-top: 56px;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    margin-bottom: 20px;
  }
}

.hero__milk-card-btn {
  display: flex;
  align-items: center;
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;

  @media screen and (min-width: $desktop) {
    width: 26px;
    height: 26px;
  }
}

.hero__icon {
  width: 5px;
  height: 5px;
  fill: $accentColor;
  display: block;
  margin: auto;
  cursor: pointer;

  @media screen and (min-width: $desktop) {
    width: 8px;
    height: 8px;
  }
}
