.recipe__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.recipe__backdrop.is-hidden .recipe-modal {
  transform: scale(0.1);
}

.recipe-modal {
  @media screen and (max-width: 479px) {
    width: 100vw;
  }

  position: relative;
  background-color: $mainBg;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.recipe-modal__close-btn {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-modal__close-btn_icon {
  width: 30px;
  height: 30px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .recipe-modal__close-btn:hover & {
    fill: $accentColor;
    transform: rotate(90deg);
  }
}

.recipe-modal__title {
  font-family: $tittleFont;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $preTittleColor;
  margin-bottom: 12px;
}
